conda create --name rasa_env python=3.8
pip install rasa==
pip install spacy
python -m spacy download en_core_web_md

pip install "sqlalchemy<2.0"
export SQLALCHEMY_SILENCE_UBER_WARNING=1


# ngrok http 5005
# rasa run 
# rasa run actions